//! IMPORT ALL FILES
@import './config';
@import './components/UI/uiComponents';
@import './components/Api/apiComponents';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 800px;
}